Practica2SOAPClienteWeb/src/conf/xml-resources/web-service-references/servicioWebRecetario/wsdl/localhost_8080/Practica2SOAPClass/servicioWebRecetario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciosWeb/" name="servicioWebRecetario">
<types>
<xsd:schema>
<xsd:import namespace="http://serviciosWeb/" schemaLocation="http://localhost:8080/Practica2SOAPClass/servicioWebRecetario?xsd=1"/>
</xsd:schema>
</types>
<message name="start">
<part name="parameters" element="tns:start"/>
</message>
<message name="startResponse">
<part name="parameters" element="tns:startResponse"/>
</message>
<message name="exportarRecetario">
<part name="parameters" element="tns:exportarRecetario"/>
</message>
<message name="exportarRecetarioResponse">
<part name="parameters" element="tns:exportarRecetarioResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="importarRecetario">
<part name="parameters" element="tns:importarRecetario"/>
</message>
<message name="importarRecetarioResponse">
<part name="parameters" element="tns:importarRecetarioResponse"/>
</message>
<message name="addReceta">
<part name="parameters" element="tns:addReceta"/>
</message>
<message name="addRecetaResponse">
<part name="parameters" element="tns:addRecetaResponse"/>
</message>
<message name="exportarReceta">
<part name="parameters" element="tns:exportarReceta"/>
</message>
<message name="exportarRecetaResponse">
<part name="parameters" element="tns:exportarRecetaResponse"/>
</message>
<message name="obtenerReceta">
<part name="parameters" element="tns:obtenerReceta"/>
</message>
<message name="obtenerRecetaResponse">
<part name="parameters" element="tns:obtenerRecetaResponse"/>
</message>
<message name="obtenerRecetario">
<part name="parameters" element="tns:obtenerRecetario"/>
</message>
<message name="obtenerRecetarioResponse">
<part name="parameters" element="tns:obtenerRecetarioResponse"/>
</message>
<message name="importarReceta">
<part name="parameters" element="tns:importarReceta"/>
</message>
<message name="importarRecetaResponse">
<part name="parameters" element="tns:importarRecetaResponse"/>
</message>
<message name="crearRecetario">
<part name="parameters" element="tns:crearRecetario"/>
</message>
<message name="crearRecetarioResponse">
<part name="parameters" element="tns:crearRecetarioResponse"/>
</message>
<message name="validarXSD">
<part name="parameters" element="tns:validarXSD"/>
</message>
<message name="validarXSDResponse">
<part name="parameters" element="tns:validarXSDResponse"/>
</message>
<message name="rmvReceta">
<part name="parameters" element="tns:rmvReceta"/>
</message>
<message name="rmvRecetaResponse">
<part name="parameters" element="tns:rmvRecetaResponse"/>
</message>
<portType name="servicioWebRecetario">
<operation name="start">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/startRequest" message="tns:start"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/startResponse" message="tns:startResponse"/>
</operation>
<operation name="exportarRecetario">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/exportarRecetarioRequest" message="tns:exportarRecetario"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/exportarRecetarioResponse" message="tns:exportarRecetarioResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://serviciosWeb/servicioWebRecetario/exportarRecetario/Fault/IOException"/>
</operation>
<operation name="importarRecetario">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/importarRecetarioRequest" message="tns:importarRecetario"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/importarRecetarioResponse" message="tns:importarRecetarioResponse"/>
</operation>
<operation name="addReceta">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/addRecetaRequest" message="tns:addReceta"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/addRecetaResponse" message="tns:addRecetaResponse"/>
</operation>
<operation name="exportarReceta">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/exportarRecetaRequest" message="tns:exportarReceta"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/exportarRecetaResponse" message="tns:exportarRecetaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://serviciosWeb/servicioWebRecetario/exportarReceta/Fault/IOException"/>
</operation>
<operation name="obtenerReceta">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/obtenerRecetaRequest" message="tns:obtenerReceta"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/obtenerRecetaResponse" message="tns:obtenerRecetaResponse"/>
</operation>
<operation name="obtenerRecetario">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/obtenerRecetarioRequest" message="tns:obtenerRecetario"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/obtenerRecetarioResponse" message="tns:obtenerRecetarioResponse"/>
</operation>
<operation name="importarReceta">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/importarRecetaRequest" message="tns:importarReceta"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/importarRecetaResponse" message="tns:importarRecetaResponse"/>
</operation>
<operation name="crearRecetario">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/crearRecetarioRequest" message="tns:crearRecetario"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/crearRecetarioResponse" message="tns:crearRecetarioResponse"/>
</operation>
<operation name="validarXSD">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/validarXSDRequest" message="tns:validarXSD"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/validarXSDResponse" message="tns:validarXSDResponse"/>
</operation>
<operation name="rmvReceta">
<input wsam:Action="http://serviciosWeb/servicioWebRecetario/rmvRecetaRequest" message="tns:rmvReceta"/>
<output wsam:Action="http://serviciosWeb/servicioWebRecetario/rmvRecetaResponse" message="tns:rmvRecetaResponse"/>
</operation>
</portType>
<binding name="servicioWebRecetarioPortBinding" type="tns:servicioWebRecetario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="start">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exportarRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="importarRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exportarReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="obtenerReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="importarReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearRecetario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarXSD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rmvReceta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicioWebRecetario">
<port name="servicioWebRecetarioPort" binding="tns:servicioWebRecetarioPortBinding">
<soap:address location="http://localhost:8080/Practica2SOAPClass/servicioWebRecetario"/>
</port>
</service>
</definitions>